<h1>Delete a picture</h1>

<p> The picture (caption:<%= @picture.caption %>, source: <%= @picture.source %>) was deleted! </p>

<p> <a href="http://localhost:3000/all_pictures">See all pictures</a> </p>
