<h1>Picture Details</h1>


<%= link_to("Delete this picture", picture_url(@picture.id), :method => "delete", :target => "_blank", :class => "btn btn-primary") %>

<p> <%= image_tag("#{@picture.source}", :width => 200) %> </p>
<p> <%= @picture.caption %></p>




